.body{
font-family: 'Montserrat';
}

/* Navbar */
.navbar-brand{
    font-weight: bold;
    color: black;
}
#navbar-search{
    border-radius: 15px;  
    margin: 0;
}

/* Login and Sing Up page */
.login-brand {
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
}
.form-group{
    width: 250px;
    margin: auto;
}
.form-control{
    margin-bottom: 20px;
}
.container-fluid{
    padding-top: 10%;
}
.btn-lg{
    font-family: 'Montserrat';
    font-size: 1rem;
    margin-bottom: 1rem;
}
#avatarFile{
    position: none;
}
.fileHelp{
    margin-bottom: 20px;
}
#signup-btn {
    margin-top: 10px;
}

/* Post card */
.post{
    width: 30rem;
    margin-top: 3rem;
    
}
.post-title{
    padding: 0.5rem;
    height: 3rem;
}
.post-footer{
    padding: 0.5rem;
    height: 3rem;
}
.post-footer p{
    display: inline;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    margin-right: 1rem;
}
.avatar-image {
    display: inline;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .post-username{
      display: inline;
      font-family: 'Montserrat';
      margin-left: 1rem;
      font-size: 14px;
  }
  .fa-arrow{
      margin-right: 0.5rem;
  }